@page
@model Cpm.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="page-header">
    <h2>@ViewData["Title"]</h2>
</div>

<p><strong>Crop Projection and Management</strong> software is an industry leading IT solution designed to assist growers and managers improve the planning and forecasting of soft fruit crops.</p>
<p>Developed by <strong>AG Recruitment &amp; Management</strong>, the innovative software is enabling agri-business's to improve their understanding of crop performance and assist manager's to better realise the value of crops.</p>
