@page
@model Cpm.Web.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div class="page-header">
    <h2>@ViewData["Title"]</h2>
</div>
<h3>AG Recruitment and Management</h3>

<address>
    <p><abbr title="Phone">P:</abbr><a href="tel:00441227806789">+44 (0) 1227 806 789</a></p>
    <p><abbr title="Email">E:</abbr><a href="mailto:cpm@agrecruitment.eu">cpm@agrecruitment.eu</a></p>
</address>

