@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ViewContext.ClassForSubPage(ManageSubPages.Index)"><a asp-page="./Index">Profile</a></li>
    <li class="@ViewContext.ClassForSubPage(ManageSubPages.ChangePassword)"><a asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ViewContext.ClassForSubPage(ManageSubPages.ExternalLogins)"><a asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="@ViewContext.ClassForSubPage(ManageSubPages.TwoFactorAuthentication)"><a asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
</ul>

