@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

@Html.Raw(Model.LoadStatusHtml())

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AreaUnit"></label>
                <select asp-for="Input.AreaUnit" class="form-control" asp-items="Model.AvailableAreaUnits"></select>
                <span asp-validation-for="Input.AreaUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AllocationUnit"></label>
                <select asp-for="Input.AllocationUnit" class="form-control" asp-items="Model.AvailableAllocationUnits"></select>
                <span asp-validation-for="Input.AllocationUnit" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Save profile</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
