@page
@model Cpm.Web.Pages.Admin.Users.Permissions.ClearModel
@{
    ViewData["Title"] = "Clear";
}

<h2>Clear</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
