@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="page-header">
    <h2>@ViewData["Title"]</h2>
</div>
@Html.Raw(Model.LoadStatusHtml())
<p>
    Please check your email to reset your password.
</p>
